:root { 
    background-color: whitesmoke;
    --header: #A9A9A9;
    --info: #87ceeb;
    --background: rgb(86, 194, 248);
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    width: 100%;
    height: 75px;
}

.name {
    width: 25%;
    height: 50px;
    margin-top: 12.5px;
    background-color: var(--background);
    color: var(--headers);
    font-size: 25px;
}

.name h1 {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.navBar ul {
    margin-top: auto;
    margin-bottom: auto;
}

.navBar li {
    display: inline;
    list-style: none;
    display: inline; 
    margin: 20px;
    text-decoration: underline;
    font-size: larger;
    color: var(--background)
}

.navBar a:visited {
    color: var(--info);
}

.headerPhoto {
    width: 100%;
    height: 170px;
    background: linear-gradient(0.25turn, #328fb7, #6d6d6d, #000000);
}

.headerPhoto h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
}

.subTitle {
    width: 18%;
    height: 50px;
    float: right;
    margin-top: 100px;
    margin-right: 75px;
    text-align: center;
    color: black;
    background-color: var(--background);
}

.about{
    margin-top: 3%;
    min-height: 2vh;
}

.aboutMe {
    display: flex;
    position: absolute;
    font-size: 40px;
    width: 10%;
    text-align: right;
    margin-left: 10%;
    margin-top: 0%;
}

section p {
    display: flex;
    position: absolute;
    left: 25%;
    right: 5%;
}

.vl {
    border-left: 6px solid black;
    height: 100px;
    position: absolute;
    left: 22%;
    margin-top: 10px;
}

.workTitle {
   display: flex;
   margin-top: 20%;
   margin-left: 12.3%;
   position: absolute;
   font-size: 45px;
} 


.vl2 {
    border-left: 6px solid black;
    height: 687px;
    position: absolute;
    left: 22%;
    margin-top: 20%;
} 

.card {
    flex-wrap: wrap;
    height: 150px;
    width: 483px;
    margin: 10px;
    border: solid 5px var(--background)
}

.cards {
    flex-wrap: wrap;
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
}

#card1 {
    flex-wrap: wrap;
    height: 300px;
    width: 1000px;
}

.contact {
    display: flex;
    position: absolute;
    font-size: 50px;
    margin-left: 7%;
    margin-top: 72%;
    text-align: right;
    width: 10%;
}

.vl3 {
    border-left: 6px solid black;
    height: 140px;
    position: absolute;
    left: 22%;
    margin-top: 72%;
}

.socials {
    position: absolute;
    margin-top: 75%;
    font-size: 20px;
    left: 20%;
}

.links {
    display: inline;
    margin: 30px;
    border-bottom: 3px solid black;
    
}

.cardText {
    position: absolute;
    background-color: var(--background);
    margin-top: -70px;
    margin-left: 15px;
    padding: 5px;
}

.card3text {
    position: absolute;
    background-color: var(--background);
    margin-top: -70px;
    margin-left: 49.5%;
    padding: 5px;
}



@media only screen and (max-width: 1138px) {
    #card1 {
        height: 150px;
        width: 484px;
    }

    .about {
        min-height: 50vh;
    }

    .aboutMe {
        font-size: 1.6rem;
        margin-left: 20px;
    }

    .workTitle {
        font-size: 1.6rem;
        margin-left: 20px;
    }

    .contact {
        font-size: 1.6rem;
        margin-left: 20px;
    }


}

