:root { 
    background-color: whitesmoke;
    --header: #A9A9A9;
    --info: #87ceeb;
    --background: rgb(86, 194, 248);
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    width: 100%;
    height: 75px;
}

.name {
    width: 25%;
    height: 50px;
    margin-top: 12.5px;
    background-color: var(--background);
    color: var(--headers);
    font-size: 25px;
}

.name h1 {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.navBar ul {
    margin-top: auto;
    margin-bottom: auto;
}

.navBar li {
    display: inline;
    list-style: none;
    display: inline; 
    margin: 20px;
    text-decoration: underline;
    font-size: larger;
    color: var(--background)
}

.headerPhoto {
    width: 100%;
    height: 170px;
    background: linear-gradient(0.25turn, #328fb7, #6d6d6d, #000000);
}

.headerPhoto h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
}

.subTitle {
    width: 18%;
    height: 50px;
    float: right;
    margin-top: 100px;
    margin-right: 75px;
    text-align: center;
    color: black;
    background-color: var(--background);
}

.aboutMe {
    display: flex;
    float: right;
    margin-right: 20px;
    margin-left: 75px;
    margin-top: 0px;

}

.bioTitle {
    display: flex;
    font-size: 30px;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 0px 0px 0px black;
    padding-right: 10px;
    
    
}

section p {
    display: flex;
    margin-left: 30px;
}


